<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Show User</title>
</head>

<body>
    <div class="container">
    
        <h1 class="ml-3">User {{ user.id }}</h1>

        <ul class="list-group">
            <li class="list-group-item">Full Name: {{ user.first_name }} {{ user.last_name }}</li>
            <li class="list-group-item">Email: {{ user.email }}</li>
            <li class="list-group-item">Created at: {{ user.created_at }}</li>
        </ul>
        <a class="btn btn-primary btn-sm mt-3" href="/users/{{ user.id }}/edit">Edit</a> 
        <a class="btn btn-primary btn-sm mt-3" href="/users/{{ user.id }}/destroy">Delete</a>
    </div>

    <a class="btn btn-primary btn-sm mt-3 btn-light" href="/users">Go Back</a>
  
</body>
</html>