<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lognreg</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <h1>Please enter your info</h1>
    <div class="wrapper">
      <div class="header">
        <fieldset>
        {% with msgs = get_flashed_messages() %}
          {% if msgs %}
            {% for msg in msgss %}
              <h2 class="error">{{ msg }}</h2>
             {% endfor %}
          {% endif %}
        {% endwith %} 
        </fieldset>
      </div>
        <fieldset>
          <form action='/lognreg' method='POST'>
            <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
            <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
            <label for="email">Email:<input type="email" name="email" id="email"></label>
            <label for="password">Password:<input type="password" name="password" id="password"></label>
            <label for="password_conf">Password confrim:<input type="password" name="password_conf" id="password_conf"></label>
            <input type="submit" value="SUBMIT">
          </form>
        </fieldset>
    </div>
  </body>
</html>